<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>감사합니다 !!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
        }

        .person-bowing {
            font-size: 200px;
        }

        .message {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="person-bowing">🙇</div>
    <div class="message">지은님 언제나 제 의견 적극 반영해서 기획해 주셔서 감사합니다! 해커톤 고생 많으셨어요!</div>
</div>
</body>
</html>
