<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>감사합니다 !!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
        }

        .person-bowing {
            font-size: 200px;
        }

        .message {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="person-bowing">🙇</div>
    <div class="message">승우형 진짜 형한테는 계속 물어보기만 하고 귀찮게 해서 미안하구 항상 고마워! 2학기에도 잘부탁해 형 사랑해ㅎㅎㅎ</div>
</div>
</body>
</html>
