<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>감사합니다 !!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
        }

        .person-bowing {
            font-size: 200px;
        }

        .message {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="person-bowing">🙇</div>
    <div class="message">예림아 시도때도 없이 질문하고 물어봐도 친절하게 말해줘서 고마워, 특히 ERD 수정해주고 pdf까지 만들어준거ㅠㅠㅠ 진짜 고마워!</div>
</div>
</body>
</html>
